<template>
  <section class="section">
    <div class="columns is-mobile is-multiline is-left">
      <div class="column is-narrow">
        <b>g(n,m)</b>
      </div>
      <div class="column is-narrow">
        <b-field>
            <b-input v-model="input_n" placeholder="g" type="number" min="0" max="50"></b-input>
        </b-field>
      </div>
      <div class="column is-narrow">
        <b-field>
            <b-input v-model="input_m" placeholder="m" type="number" min="0" max="50"></b-input>
        </b-field>
      </div>
      <div class="column is-narrow">
        <button class="button is-primary" v-on:click="inicia()">
          <b-icon pack="fas" icon="play"></b-icon>
          <span>Generar Resultado</span>
        </button>    
      </div>
    </div>
    

    <div class="card mt-5">
      <header class="card-header">
        <p class="card-header-title">
          Resultado
        </p>
        <a href="#" class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i class="fas fa-angle-down" aria-hidden="true"></i>
          </span>
        </a>
      </header>
      <div class="card-content">
        <div class="content">
          <div v-for="index in res" :key="index.id">
            {{index.text}} - <code>{{index.ms}} ms (execution time)</code>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          
        </p>
      </footer>
    </div>
    
    <b-message type="is-success mt-5">
        Alumno: Nicolás Navarrete<br>
        Profesor: Saulo Hernandez Osoria<br>
        Materia: Modelos cuantitativos de sistemas
    </b-message>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'HomePage',
  data() {
      return {
          input_n:2,
          input_m:2,
          n: 0,
          m: 0,
          res: []
      }
  },
  methods: {
    inicia(){
      this.res = []
      this.n = this.input_n
      this.m = this.input_m
      this.recursividad(this.n, this.m)
    },
    recursividad(n, m){
      let startTime = window.performance.now();
      if(this.n == 1 && this.m == 1){

      }else if(this.n==0){
        return 1;
      }else if(this.m==0){
        return 0;
      }else {
        var text = "g(" + this.n + "," + this.m +") = ( " + this.n + "," + parseInt(this.m - 1) +" )";
        text += " + ( Θ " + this.m + " /  μ " + this.m + " )"
        text += " g( " + parseInt(this.n - 1) + "," + " " + this.m + ")"
        let endTime = window.performance.now();
        let timeDiff = endTime - startTime; 
        
        this.res.push({
          id: this.res.length+1,
          text: text,
          ms: timeDiff.toString()
        })
        this.recursividad(this.n, this.m --)
        this.recursividad(this.n--, this.m)
      }

      
      
    }
  },
  components: {
    Card
  }
}
</script>
